@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }


}
@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-90deg);
  }
  




}
.info-btn{
  font-size: .4em;
  padding: .4rem;
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
}
.info-btn:hover{
  font-size: .5em;
}
.info-panel{
  position: absolute;
  background-color: rgb(41, 40, 43);
  width: 30%;
  min-height: 40%;
  overflow: auto;
  border: white 3px solid;
  border-radius: 15px;
  padding: 1.5rem;
  
}
.info-panel p{
  text-align: left;
}
.close-panel{
  position: absolute;
  right: 2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.board{
  display: grid;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background-color: #fff;
  margin: 2rem;
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  
}
.inBoard{
  width: 140px;
  height: 140px;
  background-color: #a4161a;
  border-radius: 25px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  transition: all 0.5s ease-in-out;
}

.animRight{
  animation: rotate-right 1s linear ;
}
.animLeft{
  animation: rotate-left 1s linear;
}
.place{
  width: 35px;
  height: 35px;
  margin: 0.2rem;
  background-color: #6f1d1b;
  border-radius: 50px;
}
.place:hover{
  cursor: pointer;
}
.black{
  background-color: #000;
}

.white{
  background-color: #fff;
}

.empty{
  background-color: #6f1d1b;
}
.restart{
  transition: all 0.5s ease-in-out;
}
.restart:hover{
  cursor: pointer;
  color:#a4161a;
  
}
.choice:hover{
  
  cursor: pointer;
  width: 290px;
  height: 290px;
}
@media screen and (min-width: 1400px){
  .board{
    width: 600px;
    height: 600px;
  }
  .inBoard{
    width: 280px;
    height: 280px;
  }
  .place{
    width: 70px;
    height: 70px;
  }
}